@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}

body{
    background-color: #2C2C32;
    color: black;   
    text-align: center;
    color: white;
}
header{
    margin: 10px 5px 20px 5px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ambiente p{
    margin-bottom: 10px;
    margin-top: 5px;
}
.ambiente{
    background-color: white;
    color: black;
    width: 80%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}

#checkBox{
    width: 20px;
}

#portaJanela input{
    width: 60px;
}

#portaJanela{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

.piso p{
    margin-bottom: 10px;
    margin-top: 5px;
}

.piso{
    background-color: white;
    color: black;
    width: 80%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tijolo p{
    margin-bottom: 10px;
    margin-top: 5px;
}

.tijolo{
    background-color: white;
    color: black;
    width: 80%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

#tipoTelhado{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

#tipoTelhado input{
    width: 15px;
}
#select{
    margin-bottom: 5px;
}
a {
    color: white;
}

input{
    width: 100px;
}

.button{
    padding: 10px;
    background-color: #0066B8;
    color: white;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    text-align: center;
}

.voltar{
    display: inline-block;
    background-color: #0066B8;
    width: 80px;
    height: 25px;
    padding: 4px;
    font-weight: 600;
}



footer{
    color: white;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*
    position: relative;
    bottom: 0;
    left: 0;
    */
    width: 100%;
}